<!DOCTYPE html>
<html lang="pt-br"> 
<head> 
   <meta charset="UTF-8">
   <meta name='viewport' content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href=" {{url_for('static', filename='css/styles.css')}}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<title> Code Playlist </title>
</head>
<body>
  <nav>
     <a href="/">   
       <img src=" {{url_for('static', filename= 'img/minilogo.png') }} " alt="">
     </a>
     <ul>
         <li>
             <a href="#footer"> Ouvir </a>

         </li> 
         <li>
             <a href="new"> Nova música </a> 
        </li>
     </ul>
</nav>    
<header id =banner> 
<div> 
  <h1> 
Crie aqui sua playlist ;) 
</h1>

</div>
<img src="{{url_for('static', filename='img/home.png')}}" alt="">

</header>   

<section id="playlist">
<h3>Playlist</h3>
  <table>
  <thead>
<tr>
  <th>Id</th>
  <th>Nome</th>
  <th>Artista</th>
  <th>Player</th>
  <th>Ações</th>
</tr>
   </thead>

  <tbody>
    {% for m in musicas %}
    <tr>
      <td>{{m.id}}</td>
      <td>{{m.nome}}</td>
      <td>{{m.artista}}</td>
      <td>
         <audio controls src="{{m.link}}"></audio>
    </td>
      <td> 
        <a href="/edit/{{m.id}}">Editar</a>
        <a href="/delete/{{m.id}}">Apagar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</section>

<footer id="footer">
<hr>
<p>
  Projeto feito por ariesDev :) 
</p>
</footer>
</body>

</html>